* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  background: #050505;
  color: white;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  height: 100vh;
  background: #0b0b0b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid #111;
}

.logo {
  font-size: 18px;
  font-weight: 600;
  color: #ff2d75;
  margin-bottom: 30px;
}

.nav a {
  display: flex;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #aaa;
  cursor: pointer;
  transition: .3s;
}

.nav a.active,
.nav a:hover {
  background: linear-gradient(90deg, #ff0066, #7b2cff);
  color: white;
}

/* USER */
.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 35px;
  height: 35px;
  background: #7b2cff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN */
.main {
  flex: 1;
  padding: 30px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.title {
  font-size: 26px;
  font-weight: 600;
}

.actions {
  display: flex;
  gap: 10px;
}
.actions input[type="text"]{
  width: 200px;
}
.search {
  background: #0f0f0f;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.btn {
  background: linear-gradient(90deg, #ff0066, #00c6ff);
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: #0d0d0d;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 0 30px rgba(255, 0, 100, 0.1);
}

.card h2 {
  font-size: 28px;
  margin-top: 10px;
}

/* TASK LIST */
.task-list {
  margin-top: 30px;
  background: #050505;
}

.task {
  background: #0d0d0d;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.high { background: #ff0066; }
.medium { background: #7b2cff; }
.done { background: #00c853; }

#taskInput{
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: rgb(82, 81, 81) solid 1px;
  background: #0f0f0f;
  color: rgb(44, 44, 44);
}
